{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>
    {% block barra %}
    {{block.super}}
    {% endblock %}
</header>
<body>
    {% block body%}
        <div class="box">
          <h1>Agregue el paciente</h1>
        </div>
    </div>
    <div class="col-md-12" style= "height: 400px;margin-left: 35%; margin-top: 5%">
    <form action="" method="post" novalidate>
        {% csrf_token %}
        <table border="1">
            {{form.as_table}}
        </table>
        <input type="submit" value="Guardar">
        <a href="{% url 'app:lista' %}"><button type="button">Cancelar</button></a>
    </div>

        
    </form>
    {% endblock %} 
</body>
<footer>
    {% block footer %}
    {{block.super}}
    {% endblock %}
</footer>
</html>