{% extends "base2.html" %}
<!DOCTYPE html>
<html lang="en">
    <header>
        {% block barra2 %}
        {{block.super}}
        {% endblock %}
    </header>
<head>
    {% block body%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Editar Paciente</h1>
    <div class="col-md-12" style="height: 400px;margin-left: 30%; margin-top: 5%">
    <form action="" method="post" novalidate>
        {% csrf_token %}
        <table border="1">
            {{form.as_table}}
        </table>
        <input type="submit" value="Guardar">
        <a href="{% url 'app:lista' %}"><button type="button">Cancelar</button></a>
    </form>
    </div>
    {% endblock %} 
</body>
<footer>
    {% block footer %}
    {{block.super}}
    {% endblock %}
</footer>
</html>