{% extends "base2.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>
    {% block barra2 %}
    {{block.super}}
    {% endblock %}
</header>
<body>
    {% block body%}
    <h1>Lista de Medicamentos</h1>
    <a href="{% url 'app:agregar_med' %}"> Agregar Medicamento</a>
    <div class="col-md-12" style="height: 400px;margin-left: 30%; margin-top: 5%">
    <table border="1px">
        <tr>
            <th>run</th>
            <th>nombre</th>
            <th>cantidad</th>
            
    
        </tr>
        {% for elemento in medicamento %}
        <tr>
            <th>{{ elemento.run }}</th>
            <th>{{ elemento.nombre }}</th>
            <th>{{ elemento.cantidad }}</th>
            <th><a href="{% url 'app:editar' pk=elemento.run %}">Editar</a></th>
            <th><a href="{% url 'app:eliminar' pk=elemento.run %}">Eliminar</a></th>
            
            
        </tr>
        {% endfor %}
    </table>
</div>
    {% endblock %} 
</body>
<footer>
    {% block footer %}
    {{block.super}}
    {% endblock %}
</footer>
</html>