{% extends "base2.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<header>
    {% block barra2 %}
    {{block.super}}
    {% endblock %}
</header>
<body>
    {% block body%}
    <h1>Lista de Examenes</h1>
    <a href="{% url 'app:agregar' %}"> Agregar Examen</a>
    <div class="col-md-12" style="height: 400px;margin-left: 30%; margin-top: 5%">
    <table border="1px">
        <tr>
            <th>run</th>
            <th>nombre</th>
            <th>tipo</th>
            <th>resultado</th>
    
        </tr>
        {% for elemento in examen %}
        <tr>
            <th>{{ elemento.run }}</th>
            <th>{{ elemento.nombre }}</th>
            <th>{{ elemento.tipo }}</th>
            <th>{{ elemento.resultado }}</th>
            
            
        </tr>
        {% endfor %}
    </table>
    
    {% endblock %} 
</body>
<footer>
    {% block footer %}
    {{block.super}}
    {% endblock %}
</footer>
</html>